Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env*.local
.env.local
.env
*.log
coverage
.vscode
.idea
dist
build
.DS_Store
tests
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
vitest.config.ts
TestResults
